{% extends 'base.html' %}

{% block content %}
<h2>Select an Experiment</h2>
<ul>
    <li><a href="/experiment/Projectile Motion">Projectile Motion</a></li>
    <li><a href="/experiment/Pendulum Simulation">Pendulum Simulation</a></li>
    <li><a href="/experiment/SHM Simulation">SHM Simulation</a></li>
    <li><a href="/experiment/Electric Field Simulation">Electric Field Simulation</a></li>
    <li><a href="/experiment/Lens Optics Simulation">Lens Optics Simulation</a></li>
</ul>
{% endblock %}
